*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif ;
    /* overflow: hidden; */
    /* position: fixed; */
   
}
#sec1{
    /* border: 2px solid red; */
    height: 500px;
    background-image: url(https://static.magicpin.com/samara/static/images/home/homepage-illustration.svg), linear-gradient(180deg, #431CC9, #290E81);
    width: 100%;
    /* overflow-x: hidden; */
    position: relative;
    margin: 0 ;
    background-position: bottom;
    background-repeat: no-repeat;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
}
#arti1{
    /* border: 3px solid pink; */
    /* overflow-x: hidden; */
    height: 28%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-ol{
    /* border: 2px solid red; */
    list-style: none;
    display: flex;
    height: 55px;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background-color: #2A0CBE;
    font-size: 19px;
    li{
        color: white;
    }
}

button{
    width: 105px;
    height: 35px;
    font-size: 19px;
    background: #ef1c71;
    border-radius: 9px;
    color: white;
}
#sec1-cont{
    /* border: 5px solid green; */
    color: white;
    height: 90px;
    width: 880px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 20%;
    font-size: 21px;
    font-weight: 70px;
    
}
#inp{
    position: absolute;
    top: 50%;
    left: 25%;
}
.inp1{
    background-color: white;
    background-size: 20px;
    height: 55px;
    width: 685px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 380%;
    border-radius: 15px;
    
}
#arti2{
    /* border: 3px solid greenyellow; */
    position: absolute;
    top: 440px;
    left: 15%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
#img{
    position: relative;
    top: 600px;
    left: 10%;
}
#content{
    position: relative;
    top: 630px;
    left: 20%;
    font-size: 20px;
    text-decoration: underline;
    color: #3716A8
}
#content2{
    position: relative;
    top: 680px ;
    left: 35%;
}
#line1{
    /* border: 2px solid red; */
    width: 80%;
    height: 150px;
    position: absolute;
    top: 990px ;
    left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    /* overflow: hidden; */
}
#line2{
    position: absolute;
    top: 1170px ;
    left: 10%;
    width: 80%;
    gap: 20px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}
#content3{
    position: relative;
    top: 1080px ;
    left: 35%;
}
#line3{
    /* border: 2px solid red; */
    width: 80%;
    height: 150px;
    position: absolute;
    top: 1450px ;
    left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    /* overflow: hidden; */
}
#line4{
    position: absolute;
    top: 1630px ;
    left: 10%;
    width: 80%;
    gap: 20px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}
#content4{
    position: relative;
    top: 1450px ;
    left: 35%;
    height: 400px;
    /* border: 2px solid red; */
}
#line5{
    /* border: 2px solid red; */
    width: 80%;
    height: 150px;
    position: absolute;
    top: 1900px ;
    left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
/* Promo Section */
.promo-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 90px;
}

/* Promo Section */
.promo-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    max-width: 1000px;
    padding: 20px;
    /* margin-bottom: 90px; */
    position: absolute;
    top: 1900px;
    z-index: 50;
    margin-top: 13%;
    margin-left: 20%;
  }
  
  .promo-card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .promo-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .promo-logos img {
    height: 40px;
    width: auto;
    object-fit: contain;
  }
  
  .promo-card h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .promo-card h3 span {
    color: #e91e63;
  }
  
  .promo-card p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  
  .promo-btn {
    background: #e91e63;
    color: #fff;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 50%;
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
  }
  
  .promo-btn:hover {
    background: #c2185b;
  }
  
  /* Footer Section */
  
  footer{
      background-image: url(https://static.magicpin.com/samara/static/images/footer-bg.svg);
      height: 726px;
      width: 100%;
      position: absolute;
      top: 2200px;
     
      
  }
  
  #mainhome{
      display: flex;
      align-items: center;
      /* border: 2px solid black; */
      margin-left: 3px;
      margin-top: 120px;
      
  }
  #home{
      /* border: 2px solid black; */
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 400px;
      
      
  }
  #dukaan{
      
          color: #ef1c74;
          font-size: 24px;
          cursor: pointer;
  }
  #home1{
      display: flex;
     justify-content: flex-end;
  
      list-style: none;
      width: 800px;
  
  }
  #cat{
      color: #ef1c74;
  }
  #categories{
      font-size: 18px;
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 1000px;
      color: #fff;
      
     
  }
  
  #company{
      margin-left: 60px;
      /* border: 2px solid black; */
      color: #fff;
      width: 1000px;
      font-size: 16px;
      
     
     
  }
  #pop{
       color: #ef1c74;
       font-size: 18px;
  
  }
  #popular{
      color: #fff;
      display: flex;
      justify-content: space-around;
      width: 100%;
     li{
      list-style: none;
     }
     
  }
  
   #new {
    list-style: none;        
    height: 30px;
    color: #fff;
    width: 80%;
    margin-left: 60px;
    display: flex;           
    justify-content: space-around;  
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  
  
  #new li a {
    text-decoration: none;  
    color:#fff;             
    font-size: 1rem;
    
  }
  .app-links {
    display: flex;
    gap: 1rem;         
    justify-content: center;
    margin-top: 20px;
  }
  
  .app-box {
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app-box img {
    height: 40px;     
    display: block;
  }