*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
 font-style: normal;
}
nav{
    /* border: 2px solid red; */
    height: 115px;
    position: absolute;
    top: 2%;
}
nav div ol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 30px;
    text-indent: 28px;
}
nav div>ol>li:first-child{
    font-size: 25px;
   font-weight: 500;
}
nav div ol>li{
        color: #35404e;
        font-weight: 500;
}
nav div ol>li:hover{
    color: black;
}
nav div{
    /* border: 2px solid red; */
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div button{
    border-radius: 5px;
    height: 50px;
    width: 130px;
    position: absolute;
    top: 0%;
    left: 1100px;
    background-color: blue;
    color: white;
    opacity: 0.6;
    font-size: 15px;
}





img, section, .container, .container-fluid {
    max-width: 100%;
    overflow-x: hidden;
}


.container-fluid {
    width: 100%;
    padding: 0 1rem; /* or even 0 */
    box-sizing: border-box; /* ensures padding stays inside */
}

.container-fluid {
    width: 100%;
    padding: 0 2rem; /* ⬅️ This can push content outside viewport */
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Removes horizontal scroll */
}







main{
    /* border: 2px solid; */
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div{
    /* border: 2px solid red; */
    height: 200px;
    background-image: url(https://mobirise.com/extensions/coworkingamp/conference_room/assets/images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    flex-direction: column;
     position: absolute;
     top: 17%;
     color: white;
}
main h1{
    position: absolute;
    top: 25%;
    left: 310px;
    font-size: 60px;
    letter-spacing: 1px;
}
main h2{
    position: absolute;
    top: 20%;
    left: 430px;
    /* font-size: 60px; */
}
main p{
     position: absolute;
    top: 50%;
    left: 300px;
    font-size: 20px;
}
main button{
    position: absolute;
    top: 65%;
     border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    opacity: 0.6;
    font-size: 15px;
}
#sec1{
    /* border: 2px solid; */
    height: 130px;
}
#sec1 div ol{
    list-style: none;
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
img{
    width: 110px;
    height: 80px;
}
#sec2{
    display: flex;
    gap: 100px;
    /* border: 2px solid; */
    height: 490px;
    position: relative;
    color: #35404e;
}
#sec2 div{
    margin-left: 150px;
    margin-top: 10%;
}
#sec2 h1{
    font-size: 50px;
    font-weight: 600;
}
#sec2 h2{
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 600;
    color: #726ae9;

}
#sec2 p{
     font-size: 15px;
     font-weight: lighter;
     opacity: 0.7;
     letter-spacing: 1px;
}





#sec3 {
    /* border: 2px solid; */
    height: 1070px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers horizontally */
    justify-content: center;
}

#sec3 aside {
    margin: 20px 0;
    text-align: center;
}

#sec3 table {
    margin: 0 auto; /* centers table */
}














#sec3 img{
    height: 380px;
    width: 380px;
    padding: 30px;
}
aside>h3{
    margin-left: 100px;
    color: #726ae9;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 600;
}
aside>h1{
    color: #35404e;
    font-size: 40px; 
    font-weight: 800;
}
#d1{
    filter: drop-shadow(-30px -30px #35404e);
    margin-left: 10%;
    margin-top: 5%;
    transition-duration: 1s;
}
#d1:hover{
     filter: drop-shadow(20px 20px #35404e);
     transition-duration: 1s;
     transform: translate(-20px,-20px);
}
#d2{
    filter: drop-shadow(-30px -30px #726ae9);
    margin-left: 10%;
    margin-top: 5%;
    transition-duration: 1s;
}
#d2:hover{
     filter: drop-shadow(20px 20px #726ae9);
     transition-duration: 1s;
     transform: translate(-20px,-20px);
}
#d3{
    filter: drop-shadow(-30px -30px #f5a958);
    margin-left: 10%;
    margin-top: 5%;
    transition-duration: 1s;
}
#d3:hover{
     filter: drop-shadow(20px 20px #f5a958);
     transition-duration: 1s;
     transform: translate(-20px,-20px);
}
#d4{
    filter: drop-shadow(-30px -30px #35404e);
    margin-left: 10%;
    margin-top: 5%;
    transition-duration: 1s;
}
#d4:hover{
     filter: drop-shadow(20px 20px #35404e);
     transition-duration: 1s;
     transform: translate(-20px,-20px);
}
#d5{
    filter: drop-shadow(-30px -30px #726ae9);
    margin-left: 10%;
    margin-top: 5%;
    transition-duration: 1s;
}
#d5:hover{
     filter: drop-shadow(20px 20px #726ae9);
     transition-duration: 1s;
     transform: translate(-20px,-20px);
}
#d6{
    filter: drop-shadow(-30px -30px #f5a958);
    margin-left: 10%;
    margin-top: 5%;
    transition-duration: 1s;
}
#d6:hover{
     filter: drop-shadow(20px 20px #f5a958);
     transition-duration: 1s;
     transform: translate(-20px,-20px);
}
table h1{
    font-size: 25px;
    color: #35404e;
    margin-left: 50px;
    line-height: 40px;
    font-family: 600;
}
table h2{
    font-size: 16px;
    color: #726ae9;
    margin-left: 50px;
    letter-spacing: 3px;
    font-weight: 400;
}
#sec4 {
     /* border: 2px solid; */
    height: 640px;
    background: url(./mbr\ \(1\).jpeg) center 40%/100% no-repeat ;
    /* background-color:  #726ae9; */
}
#sec4 div{
     background-color: rgba(114, 106, 233, 0.8); 
}
#sec4 div ol{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
}
#c1{
    height: 460px;
    width: 460px;
    margin-top: 20px;
    margin-left: 30px;
}
#c3{
    height: 320px;
    width: 320px;
    margin-top: -110px;
    margin-right: 30px;
}
#c2{
    height: 200px;
    width: 200px;
     margin-top: 150px;
     margin-left: 350px;
      filter: drop-shadow(20px 20px #f5a958);
}
button{
    height: 50px;
    width: 150px;
    background-color: #35404e;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 180px;
}
#sec4 h2{
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 180px;
}
#sec4 h1{
    font-size: 45px;
     margin-left: 180px;
}
#sec4 p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 180px;
}
#sec5{
      /* border: 2px solid; */
    height: 800px;
    display: flex;
    justify-content: space-around;
}
#sec5 h2{
    margin-top: 80px;
    color: #726ae9;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 250px;
}
#sec5 #d7{
    margin-top: 80px;
    color:#35404e;
    font-size: 40px;
     margin-left: 100px;
     margin-top: 10px;
}
#sec5 p{
    margin-top: 10px;
    font-size: 16px;
    word-spacing: 6px;
    line-height: 25px;
    font-weight: 400;
    color: #35404e;
    margin-top: 10px;
    margin-left: 100px;
}
#sec5 table{
    margin-top: 130px;
    /* margin-left: 110px; */
   
}
#sec6{
      /* border: 2px solid; */
    height: 800px;
    display: flex;
    justify-content: space-around;
}
#sec6 aside{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 160px;
}
#sec6 img{
    height: 100px;
    width: 100px;
}
#sec6 img:hover{
 transform: rotate(2deg) scale(1.1);
    transition-duration: 1;
}
#sec6 div>h1{
 font-size: 23px;
 color: #35404e;
}
#sec6 div>p{
 font-size: 16px;
 color: #726ae9;
 line-height: 20px;
}
#sec6 div>h2{
 font-size: 18px;
 letter-spacing: 2px;
}
#sec7{
      /* border: 2px solid; */
    height: 1100px;
}
#sec7 div{
    /* border: 2px solid; */
    width: 1000px;
    margin-left: 450px;
    margin-top: 50px;
    color: #35404e;
}
#l1{
    margin-left: 75px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #726ae9;
}
#sec7 div h1{
    font-size: 40px;
     letter-spacing: 2px; 
}
#l3{
    font-size: 17px;
    color: #35404e;
    opacity: 0.5;
}
#sec7 aside table img{
    width: 450px;
    height: 300px;
    padding: 5px 5px 5px 5px;
    margin-left: 40px;
    /* border: 2px solid; */
    overflow: hidden;
}
#sec7 aside table h1{
    opacity: 0.9;
}
#sec7 aside table img:hover{
   transform: rotate(1deg) scale(1.1);
    transition-duration: 1; 
}
#sec8{
      /* border: 2px solid; */
    height: 900px;
     position: relative;
}
#sec8 img{
     width: 750px;
    height: 750px;
}
#sec8 aside{
 /* border: 2px solid; */
 height: 750px;
 width: 770px;
position: absolute;
top: 0%;
left: 750px;
background-color:#35404e;
}
#sec8 #l2{
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 60px 60px;
    justify-content: center;
    align-items: center;
}
#sec8 input{
    height: 50px;
    width: 250px;
    margin-top: 100px;
    background-color: #35404e;
    color: #7a8ba1;
    border: 1px solid #7a8ba1;
}
#l1{
margin-top: 150px;
}
#l1 h1{
    color: white;
}
#l1 h2{
    font-size: 16px;
    letter-spacing: 1px;
}
#sec8 #f1{
    width: 500px;
    height: 150px;
    position: absolute;
    top: 40%;
    right: 150px;
}
#l2 button{
    background-color: blue;
     color: white;
    opacity: 0.8;
    font-size: 15px;
    position: absolute;
    top: 80%;
    right: 500px;
}
#sec9{
    /* border: 2px solid; */
    height: 600px;
}
#sec9 ol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#sec9 ol>li>div>img{
     height: 300px;
    width: 450px;
    margin-left: 20px;
}
#sec9 #r1{
    text-indent: 20px;
}
#sec9 div>h1{
   font-size: 45px;
  font-weight: 900;
}
#sec9 div>h2{
  font-size: 16px;
  font-weight: 300;
  color: #ef4623; 
  letter-spacing: 1px;
}
#sec9 div>ol>li>h3{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
  color:#35404e; 
  letter-spacing: 1px;
}
#sec9 div>ol>li>h1{
    font-size: 25px;
    font-weight: 400;
  color:#35404e; 
}
#sec9 div>ol>li>h4{
    margin-top: 18px;
    letter-spacing: 0.3px;
}
#sec9 div>ol>li>p{
  color:#35404e; 
  opacity: 0.5;
}
#sec9 ol>li>div{
    /* border: 2px solid red; */
     height: 300px;
    width: 450px;
    overflow: hidden;
}

#sec9 ol>li>div>img:hover{
 transform: rotate(3deg) scale(1.1);
    transition-duration: 1;
}
#sec10{
    /* border: 2px solid; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#sec10 div h1{
    color: #35404e;
}
#sec10 div p{
   color:#35404e;
   font-size: 17px;
}
#t1{
    letter-spacing: 0.5px;
    margin-right: 10px;
}
#t2{
    line-height: 25px;
    margin-right: 0px;
}
#t3{
    line-height:24px;
}