*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

#bg{
    /* border: 2px solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #454647;
    /* top: 3%; */
}
#bg-content{
    /* border: 2px solid green; */
    position: absolute;
    /* left: 150px; */
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    /* align-items: center; */
    top: 90px;
    width: 70%;
    left: 290px;
    

}
#help{
    /* border: 2px solid green; */
    position: absolute;
    top: 70%;
    width: 100%;
    /* top: 50px; */
    bottom: 130px;
   
    
}
main{
    background-color: #454647;
}
#main-nav{
    height: 76px;
    /* border: 2px solid green; */
    background: #343535 !important;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#ol1{
    /* border: 2px solid red; */
   display: flex;
   list-style: none;
   justify-content: space-between;
   /* width: 100%; */
   /* background: #343535; */
   background-color: #343535;
}
#logool,#logool2{
    /* border: 2px solid green; */
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    background: #343535;
}

#logo1,#logo2{
    /* border: 2px solid red; */
    background: #343535;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#logool2{
    font-size: 20px;
    width: 100%;
    color: white;
}
#h1Tag{

    /* border: 2px solid red; */
    text-align: left;
    /* width: 45%; */
   color: white;
   font-size: 48px;
   font-weight: 400;
}
#h3Tag{
    /* border: 2px solid green; */
    color: white;
    /* width:60% ; */
    font-weight: 100;
    font-size: 24px;
    left: 170px;
}
#h2Tag{
    width: 100%;
    height: 65px;
    /* border: 2px solid yellow; */
    color: black;
    font-size: medium;
    font-weight: lighter;
    background-color: #d9643a;
    text-align: center;
    bottom: 1000px;
    
   
}
#f1{
    font-weight: bold;
}
#f2{
    text-decoration: underline;
}
#sec1d{
    /* border: 2px solid; */
    height: 50px;
    width: 84%;
}
.inp1{
    /* border: 2px solid green; */
    height: 47px;
    width: 100%;
    font-size: larger;
    border-radius: 5px;
}
footer{
    /* border: 2px solid yellow; */
    background-color: #242525;
    display: flex;
    height: 300px;
    width: 100%;
    top: 90%;
    justify-content: space-around;
    color: white;
    line-height: 25px;
    position: absolute;

}
footer ol li:hover{
    color: #d9643a;
    cursor: pointer;
}
#fol1,#fol2,#fol3,#fol4{
    /* border: 2px solid; */
    /* width: 200px;
    height: 170px; */
    list-style: none;
    /* display: flex; */
}
#fol21{
    color: #A6A6A6;
}
#search-icon{
    /* border: 2px solid red; */
    position: absolute;
    left: 850px;
    top: 90%;
    i{
        color: #454647;
    }
}